.content{
    display: flex;
flex-direction: column;
   border: 2px red solid;
    max-width: 400px;
    min-height: 300px;
    background: chartreuse;

}

button{
    margin: 30px;
    width: 200px;
}